@use "./var";
@use "./mixin";

$card-max-width: 290px;
.colored-container{
    // position: relative;
    padding: 2em 1em 1em;
    background-image: url("../images/bg-main-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.colored-container-wraper{
    max-width: 450px;
    margin: 0 auto;
}

.back-card{
    position: relative;
    max-width: $card-max-width;
    margin-left: auto;
}

.back-card p{
    position: absolute;
    top: 50%;
    right: 13%;
    transform: translate(0, -50%);
    font-size: 0.9rem;
}

.front-card{
    position: relative;
    max-width: $card-max-width;
    top: -4.3em;
    margin-bottom: -7.6em;
}

.front-card::before{
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    top: 1em;
    left: 1em;
    background-color: white;
    border-radius: 50%;
}

.front-card::after{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 1.5em;
    left: 3.5em;
    border: 1px solid white;
    border-radius: 50%;
}

.front-card__text{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    // border: 1px solid white;
    margin: 1em;
}

.front-card h1{
    font-size: clamp(0.8rem, 6.9vw, 1.40rem);
}

.front-card__text .name-date{
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    font-size: 0.8rem;
    text-transform: uppercase;
}

@include mixin.minWidthScreenStyle(500px){
    .colored-container-wraper{
        max-width: 500px;
    }

    .front-card, .back-card{
        max-width: 70%;
    }

    .front-card::before{
        width: 40px;
        height: 40px;
        top: 1.5em;
    }

    .front-card::after{
        width: 18px;
        height: 18px;
        top: 2.2em;
        left: 4.0em;
    }

    .front-card h1{
        font-size: clamp(1.4rem, 5.1vw, 1.70rem);
    }

}

@include mixin.minWidthScreenStyle(var.$desktop-break-point){
    .colored-container{
        flex: 1 1 35%;
        padding: unset;
    }

    .colored-container-wraper, 
    .front-card, .back-card{
        max-width: unset;
    }

    .colored-container-wraper{
        display: flex;
        flex-direction: column-reverse;
        gap: 1.5em;
        position: relative;
        // border: 1px solid red;
        top: 50%;
        transform: translate(0, -50%);
    }

    .back-card{
        position: relative;
        margin-left: unset;
        left: 50%;
    }

    .back-card p,
    .front-card .name-date{
        font-size: 1.2vw;
    }

    .front-card{
        position: relative;
        top: unset;
        left: 30%;
        margin-bottom: 0;
    }

    .front-card::before{
        height: unset;
        width: 12%;
        aspect-ratio: 1;
        top: 10%;
        left: 5%;
    }

    .front-card::after{
        height: unset;
        width: 5%;
        aspect-ratio: 1;
        top: 18%;
        left: 18%;
    }

    .front-card h1{
        font-size: 2.1vw;
        letter-spacing: 0.125vw;
    }

}