$active-input-border: linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
$inactive-input-border: linear-gradient(to right, hsl(270, 3%, 87%), hsl(270, 3%, 87%));
$error-input-border: linear-gradient(to right, hsl(0, 100%, 66%), hsl(0, 100%, 66%));
$Red__input-errors: hsl(0, 100%, 66%);
$White: hsl(0, 0%, 100%);
$Light-grayish-violet: hsl(270, 3%, 87%);
$Dark-grayish-violet: hsl(279, 6%, 55%);
$Very-dark-violet: hsl(278, 68%, 11%);
$main-font-size: 1.125rem;
$main-font-family: 'Space Grotesk', sans-serif;
$desktop-break-point: 1000px;